<div class="image-container">
  <div *ngIf="!this.singleView" class="image-grid">
<!--image grid-->
    <div class="image-row">
      <div *ngFor="let image of this.images; let i = index">
        <img ngSrc="{{image.url}}" width="150" height="150" alt="{{image.desc}}" (click)="this.onImageClick(i)">
      </div>
    </div>

  </div>

  <div *ngIf="this.singleView">
    <div class="sticky-header">
      <p (click)="this.backClick()" class="back-button">Back</p>
    </div>
    <div class="index">
      <span class="progress-info">{{this.currentIndex + 1}}/{{this.images.length}}</span>
    </div>
    <div class="button-row">
      <button (click)="this.goToPrevious()" class="arrow-button left-arrow">
        &#8592;
      </button>

      <div>
        <img ngSrc="{{this.images[this.currentIndex].url}}" height="300" width="300" alt="{{this.images[this.currentIndex].desc}}">
        <p class="image-desc">{{this.images[this.currentIndex].desc}}</p>
      </div>

      <button (click)="this.goToNext()" class="arrow-button right-arrow">
        &#8594;
      </button>
    </div>

  </div>
</div>
