<div class="overlay" (click)="this.closeOverlay()">

  <div
    class="image-overlay"
    [ngStyle]="{'width.px': this.imageWidth, 'height.px': this.imageHeight}"
    (click)="$event.stopPropagation()"
  >

    <div class="image-zone left" (click)="$event.stopPropagation(); this.previous.emit()" title="Previous"></div>
    <div class="image-zone right" (click)="$event.stopPropagation(); this.next.emit()" title="Next"></div>

    <img [src]="this.imageSrc" alt="Enlarged Image">
    <button class="close-btn" (click)="this.closeOverlay()">X</button>
  </div>
</div>
