<div class="image-container">
  @if (!this.singleView) {
    <div>
      <p class="click-to-enlarge">Click any image to enlarge</p>
      <div class="image-grid">
        <!-- image grid -->
        <div class="image-item">
          @for (image of this.images; track image; let i = $index) {
            <div>
              <img ngSrc="{{this.getThumbnailImage(image.url)}}" height="200" width="150" alt="{{image.desc}}"
                (click)="this.onGridImageClick(i)">
              </div>
            }
          </div>
        </div>
      </div>
    }

    @if (this.singleView) {
      <div>
        <div class="sticky-header">
          <p (click)="this.backClick()" class="back-button">Back</p>
        </div>
        <div class="index">
          <span class="progress-info">{{ this.currentIndex + 1 }}/{{ this.images.length }}</span>
          <p class="click-to-enlarge">Click image to enlarge</p>
        </div>
        <div class="button-row">
          <button (click)="this.goToPrevious()" class="arrow-button left-arrow" [disabled]="this.currentIndex === 0">
            &#8592;
          </button>
          <div class="image-plus-desc">
            <img ngSrc="{{this.images[this.currentIndex].url}}" height="{{this.singleImage.height}}"
              width="{{this.singleImage.width}}" alt="{{this.images[this.currentIndex].desc}}"
              (click)="this.onSingleImageClick()">
              @if (this.images[this.currentIndex].desc !== '') {
                <p class="image-desc">
                  {{ this.images[this.currentIndex].desc }}
                </p>
              }
            </div>
            <button (click)="this.goToNext()" class="arrow-button right-arrow"
              [disabled]="this.currentIndex + 1 === this.images.length">
              &#8594;
            </button>
          </div>
        </div>
      }
    </div>

    @if (this.isOverlayOpen) {
      <app-image-overlay [imageSrc]="this.images[this.currentIndex].url"
        (close)="this.isOverlayOpen = false" (previous)="this.goToPrevious()" (next)="this.goToNext()">
      </app-image-overlay>
    }