<main class="main">
  <div class="content">
    <div class="container">
      <div *ngIf="!this.selectedProject">
        <h1 class="title">Woodworking Projects</h1>

        <div class="links-section">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let projectsByYear of this.data.projectsByYear; let i = index">
              <p>{{ projectsByYear.year }}</p>
              <div class="sub-list-container">
                <ul class="sub-list">
                  <li *ngFor="let project of projectsByYear.projects"
                      (click)="this.projectClick(project, projectsByYear.year)" class="sub-list-item">
                    <p class="project-name">{{ project.name }}</p>
                    <div>

                    </div>
                  </li>
                </ul>
              </div>

            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="this.selectedProject" class="project-container">
        <div class="sticky-header">
          <p (click)="this.homeClick()" class="home-button">Home</p>
        </div>
        <p><strong>Year:</strong> {{ this.selectedYear }}</p>
        <p><strong>Project:</strong> {{ this.selectedProject.name }}</p>
        <p *ngIf="this.selectedProject.description != undefined && this.selectedProject.description != ''">
          <strong>Desc:</strong> {{ this.selectedProject.description }}</p>

        <app-project
          [images]="this.selectedProject.images">
        </app-project>
      </div>

    </div>
  </div>
</main>

<router-outlet/>
